@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.login-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 700px;
  width: 400px;
  background: #ecf0f3;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.logo {
  background-image: url("https://static.toiimg.com/photo/msid-67586673/67586673.jpg?3918697");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 5px 5px 20px #aaa;
  border: 1px solid grey;
}

.title {
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.sub-title {
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  text-transform: uppercase;
}

.fields {
  width: 100%;
  padding: 75px 5px 5px 5px;
}
.fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 10px;
}
.fields input::placeholder {
  text-transform: capitalize;
}
.username,
.password {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.signin-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: #24cfaa;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
}

.signin-button:hover {
  filter: brightness(110%);
  transform: translateY(5px);
}

.signin-button:active {
  background: #1da88a;
}

.link {
  padding-top: 20px;
  text-align: center;
}

.link a {
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
}
